*{
	margin: 0;
	padding: 0;
}
html,body{
	font-size: 100%;
	font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #595959;
}
a{
	text-decoration: none;
}
#main{
	position: relative;
	min-height: 100%;
}

.relative{
	position: relative;
}

.absolute{
	position:absolute;
}
.w-1190{
	width: 100%;
	margin: 0 auto;
}
.w-P100{
	width: 100% !important;
}
.w-150{
	width: 150px !important;
}
.w-200{
	width: 200px !important;
}
.w-230{
	width: 230px !important;
}

[v-cloak]{
	display: none;
}
.time{
  font-size: 14px;
  color: #999;
}

.bg-white{
	background-color: #fff;
}
.mb-10{
	margin-bottom: 10px !important;
}
.mt-10{
	margin-top: 10px;
}
.mr-10{
	margin-right: 10px;
}
.mb-6{
	margin-bottom: 6px !important;
}
.mr-0{
	margin-right: 0px !important;
}
.ml-0{
	margin-left: 0px !important;
}
.mr-3{
	margin-right: 3px !important;
}
.ml-3{
	margin-left: 3px !important;
}
.ml-6{
	margin-left: 6px;
}
.mr-6{
	margin-right: 6px;
}
.mt-6{
	margin-top: 6px;
}
.pb-6{
	padding-bottom: 6px;
}
.pb-3{
	padding-bottom: 3px;
}

.pt-6{
	padding-top: 6px;
}
.FS-12{
	font-size: 12px;
}
.FS-14{
	font-size: 14px;
}
.FS-15{
	font-size: 15px;
}
.FS-16{
	font-size: 16px;
}
.FS-20{
	font-size: 20px;
}

.inline-block{
	display: inline-block !important;
}

.box-shadow-gray{
	-webkit-box-shadow: 0 0.125rem 0.25rem #aaa;
	        box-shadow: 0 0.125rem 0.25rem #aaa;
}
@media screen and (min-width: 1190px) {
	.w-1190{
		width: 90%;
	}
}
a.btn-primary{
	color: white !important;
	/* background-color: #1f77b4; */
	/* border-color: #1f77b4; */
}
a.btn-primary:hover{
	/* background-color: #1f77b4; */
	/* border-color: #1f77b4; */
}
.word-BW{
	word-wrap: break-word;
	word-break: break-all;
}

.input-base{
	height: 30px;
	line-height: 30px;
	border: 1px solid #dcdcdc;
	border-radius: 4px;
	padding: 6px;
}
.input-base:focus{
	border-color: #409eff;
}

.main-panel{
	min-height: 600px;
}

b.b-num{
	color: #007bff;
	margin: 0 2px;
}

ul{
	list-style: none;
}

a.text-decoration{
	text-decoration: underline !important;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.absolute-center{
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.no-data-display{
	margin-top: 60px;
	text-align: center;
	font-size: 20px;
	color: #999
}
.module-box{
	background-color: white;
	padding: 6px;
	-webkit-box-shadow: 0 0.125rem 0.25rem #aaa;
	        box-shadow: 0 0.125rem 0.25rem #aaa;
	border: 1px solid #e9ecef;
	margin: 6px 0;
}

.text-info {
    color: #17a2b8!important;
}
.text-desc {
    color: #999!important;
}
.text-danger {
    color: #f56c6c!important;
}
.text-success {
    color: #67c23a!important;
}

.table{
	display: table;
}
.table-row{
	display: table-row;
}
.table-cell{
	display: table-cell;
}
.text-ellipsis{
	/* overflow: hidden; */
	text-overflow: ellipsis;
}
.word-BW{
	word-wrap: break-word;
	word-break: break-all;
}
.w-50{
	width: 50px !important;
}
.w-90{
	width: 90px !important;
}
.w-120{
	width: 120px !important;
}

.tooltip{
	white-space: nowrap;
}
/* .query-params-box{
	margin-bottom: 18px;
}
.el-form-item--small.el-form-item {
    margin-bottom: 4px !important;
} */
.more-info-box{
  min-height: 240px;
  max-height: 640px;
  overflow: auto;
}
.more-info-box img{
  width: 320px;
  height: 240px;
}
.info-list{
  font-size: 13px;
  text-align: left;
}
.info-list.detail-other{
  height: auto;
}
.info-list .info-item{
}
.info-list-item .label{
  display: inline-block;
	vertical-align: top;
  width: 120px;
  padding: 2px 0px 2px 6px;
}
.info-list-item .content{
  display: inline-block;
	vertical-align: top;
  padding: 2px 6px 2px 0;
}

.el-button .iconfont {
    margin-right: 3px;
    margin-top: 4px;
    font-size: 14px;
}


.mh-auto{
	margin-left: auto;
	margin-right: auto;
}

.text-button{
	display: inline-block;
	text-align: center;
	padding: 0 10px;
	cursor: pointer;
	border: 1px solid #dcdfe6;
	border-radius: 5px;
	background-color: #595959;
	color: #fff;
	-webkit-transition: background-color 0.25s ease;
	transition: background-color 0.4s ease-in;
}
.text-button.is-active{
	background-color: #2DD8B1;
}

.left-panel{
  float:left;
  width: 300px;
}

.right-panel{
  margin-left: 300px;
	padding: 20px;
	border-left: 1px dashed #000;
}

.nav-item{
	padding: 10px 0;
}

.nav-item > a{
	text-decoration: underline;
	color: blue;
}
